 * {
   padding: 0;
   margin: 0;
   font-family: poppins; /*Font type: Poppins,  Actor, Adamina */
 }
 button {
   border: none;
 }
 h1 {
   color: #FAFF00;
   margin: 40px 0 30px;
   font-size: xx-large;
 }
 #home, {
   padding-top: 20px;
   padding-left: 10px;
   background-image: url("../Images/image\ 0.png");
   height: 45vh;
   background-size: cover;
   background-position: center center;
  }
 ul {
   display: flex;
   margin-top: 30px;
   justify-content: end;
   margin-right: 100px;
   color: white;
 }
 ul > li {
   display:inline-block;
   padding: 10px;
   margin: 0 15px 0;

 }
 ul > button {
   display: inline-block;
   list-style: none;
   margin-right: 25px;
   border: none;
   border-radius: 7px;
 }
 ul > button > li {
   padding: 0 20px 0 20px; 
 }
 #button1 {
   background-color: #FAFF00;
 }
#button2 {
  background-color: black;
  color: white;
}
 .home {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 47%;
 }
 .home > h4 {
   color: white;
   font-weight: 100;
   font-size: large;
 }
 .hustle {
   display: flex;
   margin: 35px 0;
   padding: 15px 0 15px;
 }
 .hustle > .hustle-text {
   margin: 100px 30px;
   width: 50%;
 }
 .hustle .hustle-text button {
   margin-top: 40px;
   color: #FAFF00;
   background-color: black;
   border: none;
   padding: 12px 20px;
   border-top-right-radius: 12px;
 }
 #coach {
   width: 350px;
   height: 400px
 }
 .topMovers {
   padding: 60px 60px 40px 60px;
   background-color: rgb(233, 231, 231);
   margin-bottom: 35px;
 }
 .topMovers h2 {
   margin-bottom: 100px;
 }
.row {
  display: flex;
}
.row button {
  margin-right: 20px;
  background-color: rgb(233, 231, 231);
}
.work img {
  height: 150px;
  width: 200px;
  margin: 10px;
}
footer {
  background-color: rgb(8, 1, 1);
  color: white;
  padding: 20px 0 20px;
}
.head {
  font-size: larger;
  margin: 50px 0 80px 10px;
}
.contactInfo {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 50px 50px 50px 10px;
}
.contactInfo > .icon {
  display: flex;
  align-items: center;
}
.contactInfo > .icon > li {
  margin-right: 20px;
}
.contactInfo > .column {
  display: flex;
  justify-content: space-between;
}
#column {
  padding: 0 0 0 50px;
}
.column p {
  font-size: small;
  font-weight: lighter;
  padding: 5px;
}
#home2 {
  background-color: rgb(15, 2, 2);
  min-height: 160px;
  margin-bottom: 25px;
}
#home2 button {
  margin-left: 15px;
  background-color: #FFAC12;
  border-top-right-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
nav > #ul2 {
  margin-top: 0px;
  padding-top: 10px;
  font-size: small;
}
.modern {
  display: flex;
  color: white;
  justify-content: space-between;
  margin: 50px;
  padding-right: 50px;
}
.modern p {
  font-size: x-small;
  padding-top: 5px;
  text-align: right;
}
section {
  background-color: rgb(233, 231, 231);
}
.kayley {
  display: flex;
}
.kayley >.image > img {
  height:350px ;
  width: 400px;
  margin: 20px;
}
.kayley > .form {
  margin: 20px;
  background-color: white;
 
}
