 * {
   padding: 0;
   margin: 0;
   font-family: poppins; /*Font type: Poppins,  Actor, Adamina */
 }
 button {
   border: none;
 }
 h1 {
   color: #FAFF00;
   margin: 40px 0 30px;
   font-size: xx-large;
 }
 #home {
   padding-top: 20px;
   padding-left: 10px;
   background-image: url("../Images/image\ 0.png");
   height: 45vh;
   background-size: cover;
   background-position: center center;
  }
 nav > ul {
   display: flex;
   margin-top: 30px;
   justify-content: end;
   margin-right: 100px;
   color: white;
 }
 nav > ul > li {
   display:inline-block;
   padding: 10px;
   margin: 0 15px 0;
 }
 ul > button {
   display: inline-block;
   list-style: none;
   margin-right: 25px;
   border: none;
   border-radius: 7px;
 }
 ul > button > li {
   padding: 0 20px 0 20px; 
 }
 #button1 {
   background-color: #FAFF00;
 }
#button2 {
  background-color: black;
  color: white;
}
 .home {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 47%;
 }
 .home > h4 {
   color: white;
   font-weight: 100;
   font-size: large;
 }
 .hustle {
   display: flex;
   margin: 35px 0;
   padding: 15px 0 15px;
 }
 .hustle > .hustle-text {
   margin: 100px 30px;
   width: 50%;
 }
 .hustle .hustle-text button {
   margin-top: 40px;
   color: #FAFF00;
   background-color: black;
   border: none;
   padding: 12px 20px;
   border-top-right-radius: 12px;
 }
 #coach {
   width: 350px;
   height: 400px
 }
 .topMovers {
   padding: 60px 60px 40px 60px;
   background-color: rgb(233, 231, 231);
   margin-bottom: 35px;
 }
 .topMovers h2 {
   margin-bottom: 100px; 
 }
 h2 {
   text-decoration: overline #573c09;
  }
.row {
  display: flex;
}
.row button, .listings button {
  margin-right: 20px;
  background-color: rgb(233, 231, 231);
}
.work img {
  height: 150px;
  width: 200px;
  margin: 10px;
}
footer {
  background-color: rgb(14, 2, 2);
  color: white;
  padding: 20px 70px 20px 70px;
}
h2, h3, h4{
  font-weight: bold;
}
.head {
  font-size: larger;
  margin: 50px 0 80px 10px;
}
.contactInfo {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 50px 50px 50px 10px;
}
.contactInfo > .icon {
  display: flex;
  align-items: center;
}
.contactInfo > .icon > li {
  margin-right: 20px;
}
.contactInfo > .column {
  display: flex;
  justify-content: space-between;
}
footer >.head {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
footer >.head > button {
  background-color: #FFAC12;
  margin: 0 60px;
  padding: 10px 20px;
  border-top-right-radius: 12px;
}
footer  a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
#column {
  padding: 0 0 0 50px;
}
.column p, .creator p {
  font-size: small;
  font-weight: lighter;
  padding: 5px;
}
#home2 {
  background-color: rgb(15, 2, 2);
  min-height: 160px;
}
#home2 button {
  margin-left: 15px;
  background-color: #FFAC12;
  border-top-right-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
nav > #ul2 {
  margin-top: 0px;
  padding-top: 10px;
  font-size: small;
}
.modern {
  display: flex;
  color: white;
  justify-content: space-between;
  margin: 50px;
  padding-right: 50px;
}
.modern p {
  font-size: x-small;
  padding-top: 5px;
  text-align: right;
}
#body2 {
  background-color: rgb(233, 231, 231);
  padding: 10px 0 10px 50px;
}
.kayley, .content {
  display: flex;
}
.kayley > .room >.image > img {
  height:450px ;
  width: 750px;
  margin: 20px 0;
}
.room,  .listings{
  margin-left: 20px;
}
.images > img {
  height: 70px;
  width: 80px;
  margin-right: 10px;
}
.details > table, tr, td {
  padding: 10px 36px;
  border: 1px solid rgb(233, 231, 231);
  border-collapse: collapse;
  font-size: small;
}
.details {
  margin-top: 25px;
  margin-bottom: 25px;
}
.details > table, .description, .features {
  background-color: white;
  border-radius: 18px;
}
.details  h3, .description h3, .features h3 {
  margin: 20px 0 20px;
  font-weight: 600;
  padding-left: 37px;
}
svg {
  height: 10px;
  width: 10px;
  padding-right: 10px;
}
.kayley >.form {
  margin: 20px;
  margin-left: 5px;
  background-color: white;
  border-radius: 15px;
  max-height: 350px;
}
.form > .inside {
  margin: 15px;
}
.form > .inside > .viewer {
  background-color: rgb(233, 231, 231);
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  font-size: small;
}
.form >.inside >.viewer p {
  font-size: xx-small;
  margin-top: 3px;
  color: #FFAC12;
}
#form, #message {
  padding: 10px;
  border: 1px solid rgb(248, 245, 245);
  margin: 3px 0 10px;
  border-radius: 5px;
}
#message {
  padding: 20px 10px;
}
#submit {
  padding: 10px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  background-color: black;
  color: #FFAC12;
  border-top-right-radius: 15px;
}
.description, .features, .text, .description h3, .features h3 {
  padding: 20px;
}
.description, .content ul {
  color: black;
  margin-bottom: 25px;
}
.content, .content ul {
  justify-content: space-between;
  margin: 0 50px 10px;
  list-style: none;
}
#content ul li {
  margin: 20px;
}
.features .ticks {
  border-radius: 50%;
  position: relative; 
  background-color:#FFAC12;
  border: 1px solid #FFAC12;
  margin-right: 5px;
  font-size: 10px;
}
.listings >.listingImages img {
  height: 160px;
  width: 220px;
}
.listings, .listingImages {
  margin-top: 50px;
  padding-bottom: 20px;
}
.listingImages table td {
  padding-left: 2px;
  padding-top: 6px ;
  padding-bottom: 6px;
  border: 1px solid rgb(248, 246, 246);
}
.listingImages p {
  padding: 10px;
  text-align: left;
  margin-left: 20px;
  font-weight: 400;
}
.white {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: -10px;
  padding-top: 10px;
  margin-bottom: 10px;
}
